<mat-card class="materialCard">
  <mat-card-content>
    <mat-card-title class="loginHeader">Account verified</mat-card-title>
  </mat-card-content>
  <mat-card-content>
    <img mat-card-lg-image src="../../assets/logo.png" />
  </mat-card-content>
  <mat-card-content>
    <p>
      Thank you for verifying your account. Please login when you are ready
    </p>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-content>
      <button mat-raised-button color="primary" type="button" (click)="login()">Login</button>
    </mat-card-content>
  </mat-card-footer>
</mat-card>
