.messages-container {
  height: 75px;
  width: 400px;
  border: 1px solid black;
  margin-bottom: 1em;
  color: white;
  background: #C4B4E6;
  border-radius: 3%;
}

.messages-container:hover {
  cursor: pointer;
}

.messages-container img {
  height: 100%;
  border-radius: 50%;
  float: left;
  margin-right: 1em;
}

.message-author {
  display: inline;
  text-align: center;
}

.last-message-from-author {
  display: inline;
  color: #6E6563;
}

.logged-in {
  color: green;
}

.logged-out {
  color: red;
}
