<h1 class="general-text">Messages</h1>
<hr>
<div class="messages-container" [routerLink]="['/chat']">
  <img src="assets/img_avatar.png">
  <div class="message-author">
    Test author Online <span class="logged-in">●</span>
    <br>
    <div class="last-message-from-author">
      That was cool to here! Sent at 7:30pmqq
    </div>
  </div>
</div>
<div class="messages-container">
  <img src="assets/img_avatar.png">
  <div class="message-author">
    Test author Online <span class="logged-in">●</span>
    <br>
    <div class="last-message-from-author">
      That was cool to here! Sent at 7:30pm
    </div>
  </div>
</div>
<div class="messages-container">
  <img src="assets/img_avatar.png">
  <div class="message-author">
    Test author Online <span class="logged-in">●</span>
    <br>
    <div class="last-message-from-author">
      That was cool to here! Sent at 7:30pm
    </div>
  </div>
</div>
<div class="messages-container">
  <img src="assets/img_avatar.png">
  <div class="message-author">
    Test author Offline <span class="logged-out">●</span>
    <br>
    <div class="last-message-from-author">
      That was cool to here! Sent at 7:30pm
    </div>
  </div>
</div>
<div class="messages-container">
  <img src="assets/img_avatar.png">
  <div class="message-author">
    Test author Offline <span class="logged-out">●</span>
    <br>
    <div class="last-message-from-author">
      That was cool to here! Sent at 7:30pm
    </div>
  </div>
</div>
